@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@tailwind base;
@layer base {
  html {
    font-family: "Lato", system-ui, sans-serif;
    height: 100%;
  }

  body {
    height: 100%;
    @apply flex flex-col;
  }
}

@layer components {
  .h1,
  .h2 {
    font-family: "Montserrat", sans-serif;
  }

  .h1 {
    @apply font-bold;
    @apply text-6xl;
    @apply lg:text-4xl;
    @apply text-white;
    @apply leading-tight;
  }

  .h2 {
    @apply font-bold;
    @apply text-2xl;
    @apply leading-tight;
  }
}

@tailwind components;
@tailwind utilities;
