/*@font-face {*/
/*  font-family: 'TODO';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: local(''),*/
/*  url('/fonts/TODO.woff2') format('woff2'),*/
/*  url('/fonts/TODO.woff') format('woff');*/
/*}*/
/* OR USE FONTSOURCE see layout.svelte */

@tailwind base;
@layer base {
  html {
    font-family: TODO, system-ui, sans-serif;
    height: 100%;
  }

  body {
    height: 100%;
    @apply flex flex-col;
  }
}

@tailwind components;
@tailwind utilities;


