@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@layer base {
  html {
    font-family: "Lato", system-ui, sans-serif;
    height: 100%;
  }

  body {
    height: 100%;
    @apply flex flex-col;
  }
}

@layer components {
  .h1,
  .h2 {
    font-family: "Montserrat", sans-serif;
  }

  .h1 {
    @apply font-bold;
    @apply text-3xl;
    @apply lg:text-6xl;
    @apply text-white;
    @apply leading-tight;
  }

  .h2 {
    @apply font-bold;
    @apply text-2xl;
    @apply leading-tight;
  }
}

@tailwind components;
@tailwind utilities;
